<nav class="navigation">
    <ul class="navFlex">
        <li class="container">
            <img src="./images/image 13.svg" style="width: 130px; height: auto; padding: 0; margin: 0;">
            <div class="center">GENIE</div>
        </li>
        <li><a href="/">Home</a></li>
        <li><a href="/about-us">About Us</a></li>
        <li><a href="/hotels">Hotels</a></li>
        <li><a href="/travels">Travels</a></li>
        <li><a href="/booking">My Booking</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</nav>