<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotels - JourneyGenie</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <%- include('partials/header') %>

    <div class="content2">
        
        <div class="hotelCard">
            <div class="hotelImage">
                <img src="./images/image 2.png" alt="Hotel Shanti Palace">
            </div>
            <div class="hotelDetails">
                <h2 class="hotelName">Hotel Shanti Palace (Mahipalpur)</h2>
                <p class="hotelLocation">Mahipalpur | 4.1 km drive to Indira Gandhi International Airport</p>
                <p class="hotelFeature">Free Cancellation till check-in</p>
                <p class="hotelFeature">Free Room Upgrade, Subject to Availability</p>
                <p class="hotelDescription">Convenient location, great food & good staff</p>
                <p class="hotelRating">Very Good  3.7 (2494 Ratings)</p>
                <p class="hotelPrice">₹ 4,000 <span class="discountPrice">₹ 4,320</span> + ₹ 518 taxes & fees Per Night</p>
                <p class="loginMessage">Login to Book Now & Pay Later!</p>
            </div>
        </div>

        <div class="hotelCard">
            <div class="hotelImage">
                <img src="./images/image 3.png" alt="Hotel Aero Star">
            </div>
            <div class="hotelDetails">
                <h2 class="hotelName">Hotel Aero Star</h2>
                <p class="hotelLocation">Mahipalpur | 4.3 km drive to Indira Gandhi International Airport</p>
                <p class="hotelFeature">Free Cancellation till check-in</p>
                <p class="hotelDescription">Near the airport with delicious food & lovely staff</p>
                <p class="hotelRating">Excellent 4.4 (12473 Ratings)</p>
                <p class="hotelPrice">₹ 1,200 <span class="discountPrice">₹ 2,118</span> + ₹ 439 taxes & fees Per Night</p>
            </div>
        </div>
        
        <div class="pagination">
            <a href="/hotels">&laquo;</a> <!-- Previous -->
            <a href="/hotels">1</a>
            <a href="/hotels-2">2</a>
            <a href="/hotels-3">3</a>
            <a href="/hotels-2">&raquo;</a> <!-- Next -->
        </div>
    </div>
</body>
</html>
