<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotels - JourneyGenie</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <%- include('partials/header') %>

    <div class="content2">
        
        <div class="hotelCard">
            <div class="hotelImage">
                <img src="./images/image 2 (1).png" alt="Crowne Plaza Rohini">
            </div>
            <div class="hotelDetails">
                <h2 class="hotelName">Crowne Plaza Rohini</h2>
                <p class="hotelLocation">Rohini | 10.6 km from Hyatt Centric Janakpuri, New Delhi</p>
                <p class="hotelFeature">Book with ₹0 Payment</p>
                <p class="hotelFeature">Breakfast Included</p>
                <p class="hotelDescription">Convenient location in Rohini, nearby the airport, rooftop pool with city view</p>
                <p class="hotelRating">Excellent 4.3 (2972 Ratings)</p>
                <p class="hotelPrice">₹ 7,299 + ₹ 876 taxes & fees Per Night</p>
            </div>
        </div>

        <div class="hotelCard">
            <div class="hotelImage">
                <img src="/images/image 3 (1).png" alt="Radisson Blu Plaza Delhi Airport">
            </div>
            <div class="hotelDetails">
                <h2 class="hotelName">Radisson Blu Plaza Delhi Airport</h2>
                <p class="hotelLocation">5.2 km drive to Indira Gandhi International Airport</p>
                <p class="hotelFeature">Book with ₹0 Payment</p>
                <p class="hotelDescription">Near Delhi Airport, rooftop pool and spa, easy access to Noida and Gurgaon</p>
                <p class="hotelRating">Excellent 4.3 (9520 Ratings)</p>
                <p class="hotelPrice">₹ 2,800 <span class="discountPrice">₹ 3,600</span> + ₹ 648 taxes & fees Per Night</p>
            </div>
        </div>
        
        <div class="pagination">
            <a href="/hotels">&laquo;</a> <!-- Previous -->
            <a href="/hotels">1</a>
            <a href="/hotels-2">2</a>
            <a href="/hotels-3">3</a>
            <a href="/hotels-2">&raquo;</a> <!-- Next -->
        </div>
    </div>
</body>
</html>
